.Background {
  position: relative; /* Make sure the background is positioned relative */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Add any additional styling for your Background component here */
}

.buttons-container {
  position: absolute; /* Position the buttons container relative to the background */
  top: 0; /* Align to the top of the background */
  left: 20px; /* Adjust the left position as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left side) */
}

.On-container {
  margin-bottom: 5px; /* Add margin between button containers */
}

.On {
  height: 95px; /* Set a fixed height for the buttons */
  width: 98px; /* Set a fixed width for the buttons */
  margin-top: 11px;
}
