/* App.css */

.fixedContainer {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;           /* Makes children flex items */
  flex-direction: column;  /* Align children vertically */
  align-items: center;     /* Center items horizontally */
  gap: 20px;               /* Space between each item */
}


.toggleButtonImg {
  width: 100px; /* Set the width of the images */
  height: 100px; /* Set the height of the images */
  cursor: pointer; /* Change cursor to pointer on hover over the image */
  display: block; /* Ensures that the image does not have inline properties */
}

.triangleShape {
  width: 70px;
  height: 70px;
  position: fixed;
  left: 25%;  /* Adjust this value as needed to position correctly */
  top:35%;   /* Adjust this value as needed to position correctly */
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.squareShape {
  width: 70px;
  height: 70px;
  position: fixed;
  left: 25%;  /* Adjust this value as needed to position correctly */
  top: 62.5%;   /* Adjust this value as needed to position correctly */
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.lightBulb {
  width: 100px; /* Set width as needed */
  height: 100px; /* Set height as needed */
  position: fixed;
  right: 40%; /* Align to the right edge of the viewport */
  top: 48.75%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
  z-index: 1000; /* Ensures it stays on top of other content */
}

